@CHARSET "UTF-8";
#class_list
{
    width:850px;
    height:300px;
    overflow-y:scroll;
    margin-left:5px;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
 
}
#class_list th{
    height:40px;
    border-bottom: 4px solid black;
}
#class_list td{
    height:60px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}