@CHARSET "UTF-8";
#class_div {
    overflow-y:scroll;
    width:300px;
    height:170px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#class_div tr{
    border-bottom:1px solid black;
    width:250px;
    height:30px;
    colspan :2;
}
#method_div {
    overflow-y:scroll;
    width:310px;
    height:170px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#method_div tr{
    border-bottom:1px solid black;
    width:250px;
    height:30px;
}
#variable_div {
    overflow-y:scroll;
    width:310px;
    height:170px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#variable_div tr{
    border-bottom:1px solid black;
    width:250px;
    height:30px;
}